
<div *ngIf="childExample1" style="margin-top: 20px;margin-left: 80px">
  <table>
    <tr>
      <td><img  src="../../assets/product.svg" width="40" style="background-color: dodgerblue"><span class="caption">product details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/contact-information.svg" width="40"><span class="caption">customer details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/credit-card.svg" width="50" ><span class="caption">payment info</span></td>
    </tr>
    <tr>
      <td><img  src="../../assets/tick.png" width="13" style="margin-left: 10px"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img style="margin-left: 10px" src="../../assets/tick.png " style="display:none; "width ="20"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/credit-card.svg" width="50" style="display:none; " ></td>
    </tr>
  </table>
</div>

<div *ngIf="childExample" style="margin-top: 20px;margin-left: 80px">
  <table>
    <tr>
      <td><img  style="background-color: dodgerblue"  src="../../assets/product.svg" width="40"><span class="caption">product details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  style="background-color: dodgerblue" src="../../assets/contact-information.svg" width="40"><span class="caption">customer details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/credit-card.svg" width="50" ><span class="caption">payment info</span></td>
    </tr>
    <tr>
      <td><img  src="../../assets/tick.png" width="13" style="margin-left: 10px"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img style="margin-left: 10px" src="../../assets/tick.png " width="13"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img style="display:none"  src="../../assets/credit-card.svg" width="50" ></td>
    </tr>
  </table>
</div>

<div *ngIf="childExample2" style="margin-top: 20px;margin-left: 80px">
  <table>
    <tr>
      <td><img  style="background-color: dodgerblue"  src="../../assets/product.svg" width="40"><span class="caption">product details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  style="background-color: dodgerblue" src="../../assets/contact-information.svg" width="40"><span class="caption">customer details</span></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/credit-card.svg" style="background-color: dodgerblue" width="50" ><span class="caption">payment info</span></td>
    </tr>
    <tr>
      <td><img  src="../../assets/tick.png" width="13" style="margin-left: 10px"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img style="margin-left: 10px" src="../../assets/tick.png " width="13"></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td><img  src="../../assets/tick.png" width="13" ></td>
    </tr>
  </table>
</div>

